h1{
    text-align: center;
}

#but{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: auto;
}

#scre{
    border: 2px solid black;
    width:200px;
    height: 200px;
    margin:auto;
    background-color: blue;
    color: white;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}